.nav-item {
  @apply flex justify-start items-center w-full font-normal py-2.5 my-0.5  px-4 rounded-md transition-all;

  &:hover {
    @apply bg-brand-mainTextColor/10;
  }

  &.active {
    @apply bg-brand-primaryTextColor/20 font-semibold text-brand-primaryTextColor;
  }
}
.nav-item-expaned-panel {
  @apply flex justify-start items-center w-full font-normal py-2.5 my-0.5 rounded-md transition-all;

  .dot {
    @apply bg-brand-mainTextColor/20;
  }

  &:hover {
    @apply bg-brand-mainTextColor/10;
  }

  &.active {
    .dot {
      @apply bg-brand-primaryTextColor scale-150 shadow-brand-primaryTextColor shadow-2xl;
    }
    @apply font-semibold;
  }
}

.nav-item-link-holder {
  @apply pr-4 rtl:pr-0 rtl:pl-4 font-medium relative;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  top: 2px;
  width: 4px;
  height: 39px;
  background: theme("colors.brand.primaryTextColor");
}

html[dir="ltr"] {
  .nav-item.active::after {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
  }
}

html[dir="rtl"] {
  .nav-item.active::after {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    content: "";
    position: absolute;
    top: 2px;
    width: 4px;
    height: 90%;
    background: theme("colors.brand.primaryTextColor");
    left: -1px;
  }
}

/***





*/
